
section{
width: 1900px;
height: 430px;
display: flex;
}
section img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: .8 ;
transition: .5s ease;
}
section img:hover{
/* cursor: crosshair; */
width: 600px;
opacity: 1;
filter: contrast(120%);
}
.carouselExampleAutoplaying{
transition-duration: .1s;
}


